<div class="Container">
  <h1>Wish Gallery</h1>

  <table>
    <thead>
      <tr>
        <th>Participant requirement</th>
        <th>Ef fulfillment</th>
      </tr>
    </thead>

    <tbody>
      <% if wishes %>
        <% wishes.each do |wish| %>
          <tr>
            <td><%= wish.participant_requirement %></td>
            <td><%= wish.ef_fulfillment %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>