<div class="Container">
  <div class="Form-container">
    <h1>The Wish Machine has begun reviewing wishes!</h1>
    <p> At this time no further wish submissions will be accepted for Electric Forest 2019. Keep an eye on your inbox, as HQ may reach out to learn more about your wish!</p>
  </div>
</div>

<div class="Container WishGallery-wrapper">
  <h1 class="WishGallery-title">Wish Gallery</h1>

  <% if @wishes %>
    <div class="WishGallery">
			<div class="WishGallery-container">
		    <div class="WishGallery-column"></div>
        <div class="WishGallery-gutter"></div>
				<%= render 'wishes/gallery', wishes: @wishes %>
			</div>
      <div class="WishGallery-pagination">
        <%= link_to_next_page(@wishes, 'Next Page', :remote => true) %>
      </div>
    </div>
  <% end %>

  <div class="Copyright">
    <%= image_tag 'EF-WM-icon-black.png' %>
    <br />
    &copy; 2019 Electric Forest
  </div>
</div>

<%= render 'rules' %>