<div class="Container">
  <h1 class="basic">Lasting Impressions of the Wish Machine</h1>
  <h2 class="secondary">The Electric Forest Wish Machine calls upon everyday heroes.</h2>

  <div class="introduction">
		<p>So many of us wish for change in the world today. We must be that change. When the Forest Family thinks globally, we find a place that needs kindness.</p>

		<p>Kindness, radical acceptance, and good deeds are why The Forest is special. These values create freedom to discover ourselves and celebrate our beautiful differences and unique gifts.</p>

		<p>The Wish Machine sparked inspiration across the globe. With over 5,000 wishes submitted, the Forest Family went out into the world and did their part to make it a better place for all - fundraising and creating awareness for mental health, rare diseases, and sustainability; donating clothing, personal items, and funds to charity drives and disaster clean up efforts; volunteering countless hours of time and energy to local humane societies, hospitals, and homeless shelters; and much more.</p>

		<p>From planting trees and empowering communities, to starting important conversations and raising awareness, the Forest Family brought the essence of The Forest with them - to people, neighborhoods, communities, and societies across the planet.</p>

		<p>The Wish Machine challenged the Forest Family to venture out into the world and spread positive action and good deeds. In return, those that proposed positive actions in the world also submitted wishes into the Wish Machine, asking The Forest to support them and grant their wildest dreams at EF2018. Now it’s time for The Forest to reward a few of the most incredible, world-changing, and awe-inspiring acts of kindness. Below are the Official 2018 Wish Machine Granted Wishes. Stay tuned throughout the year to watch as more wishes are granted.</p>
  </div>
</div>