<div class="Container">
	<div class="Form-container">
    <h1>Lasting Impressions of the Wish Machine</h1>
		<p>The Wish Machine challenged the Forest Family to venture out into the world and spread positive action and good deeds. In return, they submitted wishes into the Wish Machine asking The Forest to support them and grant their wildest dreams at Electric Forest 2019.</p>

		<p><strong>Now it’s time for The Forest to reward a few of the most incredible, world-changing, and awe-inspiring acts of kindness. Below are the Official 2019 Wish Machine Granted Wishes.</strong></p>
  </div>
</div>