$black: #000000;
$olive: #3D441E;
$lime: #C5B200;
$white: #FFFFFF;

$lime-border: transparentize($lime, 0.2);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin center-horizontally {
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	font-size: 2em;
	font-weight: 400;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.Form-contactFieldsLabel {
	font-size: 0.7em;
}

.Form-contactFields {
	display: flex;
	margin: 0.5em 0em 1em;

	.field_with_errors {
		width: 100%;
	  font-family: 'Open Sans', sans-serif;
	  font-size: 12px;
	}

	.Input-text {		
	  font-size: 12px;
	}

	.Input-text, .field_with_errors {
		margin-right: 2em;
		padding: 0.5em;
	}

	.Input-text:last-child, .field_with_errors:last-child {
		margin-right: 0em;
	}
}

.Form-agreementField {
	@include center-horizontally;

}

.Form-agreementLabel {
	font-size: 0.7em;
	margin-left: 0.4em;
}

.Form-actions {
	@include center-horizontally;
	margin: 1em 0em 3em;
}

.Button {
	@include border-radius(3px);

	font-size: 0.75em;
	text-transform: uppercase;
	font-weight: 700;
  padding: 0.5em 1em;
  cursor: pointer;
	border: 0px;
}

.Button-submitWish {
	background: $olive;
	color: $white;

	&:hover {
		background: transparentize($olive, 0.2);
		color: transparentize($white, 0.2);
	}
}

.Button-learnMore {
	background: $lime;
	color: $olive;
	margin-left: 1em;

	&:hover {
		background: $lime-border;
		color: transparentize($olive, 0.2);
		border: 0px;
	}
}

.Input-checkbox {

}

.Input-text {
	border-width: 0px;
	border-bottom: 1px solid $olive;
	width: 100%;
}

.Input-text--large {
	width: calc(100% - 1em);
	font-size: 1em;
	padding: 0.5em;
	margin: 0em 0em 1em;
}

.alerts-wrapper {
	position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
	z-index: 100;
	display: flex;
	flex-direction: column;
}

.alert {
  padding: 15px;
  border-bottom: 1px solid $olive;
	font-weight: 700;
	font-size: 1.4em;
  background-color: $lime;
  color: $white;
}

.alert:last-child {
	border-bottom: 0px;
}

.field_with_errors input {
	border-color: $lime;
}

button.close {  
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}

@media all and (max-width: 680px) {
  .Form-contactFields {
  	flex-direction: column;
  }

  .Form-contactFields .Input-text {
  	width: auto;
  }

  .Form-contactFields .Input-text, .Form-contactFields .field_with_errors {
  	margin-right: 0em;
  	margin-bottom: 2em;
  }

  .Form-agreementField {
  	align-items: flex-start; 	
  }

  .Form-agreementLabel {
  	font-size: 0.6em;
  	line-height: 1.2em;
  }
}
