$black: #000000;
$olive: #3D441E;
$lime: #C5B200;
$white: #FFFFFF;

$lime-border: transparentize($lime, 0.2);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin center-horizontally {
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	font-size: 2em;
	font-weight: 400;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.Form-contactFieldsLabel {
	font-size: 0.7em;
}

.Form-contactFields {
	display: flex;
	margin: 0.5em 0em 1em;

	.field_with_errors {
		width: 100%;
	  font-family: 'Open Sans', sans-serif;
	  font-size: 12px;
	}

	.Input-text {		
	  font-size: 12px;
	}

	.Input-text, .field_with_errors {
		margin-right: 2em;
		padding: 0.5em;
	}

	.Input-text:last-child, .field_with_errors:last-child {
		margin-right: 0em;
	}
}

.Form-agreementField {
	@include center-horizontally;

}

.Form-agreementLabel {
	font-size: 0.7em;
	margin-left: 0.4em;
}

.Form-actions {
	@include center-horizontally;
	margin: 1em 0em 3em;
}

.Button {
	@include border-radius(3px);

	font-size: 0.75em;
	text-transform: uppercase;
	font-weight: 700;
  padding: 0.5em 1em;
  cursor: pointer;
	border: 0px;
}

.Button-submitWish {
	background: $olive;
	color: $white;

	&:hover {
		background: transparentize($olive, 0.2);
		color: transparentize($white, 0.2);
	}
}

.Button-learnMore {
	background: $lime;
	color: $olive;
	margin-left: 1em;

	&:hover {
		background: $lime-border;
		color: transparentize($olive, 0.2);
		border: 0px;
	}
}

.Input-checkbox {

}

.Input-text {
	border-width: 0px;
	border-bottom: 1px solid $olive;
	width: 100%;
}

.Input-text--large {
	width: calc(100% - 1em);
	font-size: 1em;
	padding: 0.5em;
	margin: 0em 0em 1em;
}

.alerts-wrapper {
	position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
	z-index: 100;
	display: flex;
	flex-direction: column;
}

.alert {
  padding: 15px;
  border-bottom: 1px solid $olive;
	font-weight: 700;
	font-size: 1.4em;
  background-color: $lime;
  color: $white;
}

.alert:last-child {
	border-bottom: 0px;
}

.field_with_errors input {
	border-color: $lime;
}

button.close {  
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: $olive;
  text-shadow: 0 1px 0 #fff;
}

.close:hover {
  color: transparentize($olive, 0.2);
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}

@media all and (max-width: 680px) {
  .Form-contactFields {
  	flex-direction: column;
  }

  .Form-contactFields .Input-text {
  	width: auto;
  }

  .Form-contactFields .Input-text, .Form-contactFields .field_with_errors {
  	margin-right: 0em;
  	margin-bottom: 2em;
  }

  .Form-agreementField {
  	align-items: flex-start; 	
  }

  .Form-agreementLabel {
  	font-size: 0.6em;
  	line-height: 1.2em;
  }
}

//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  margin: 5em;
}

// Actual modal
.modal-content {
  position: relative;
  background-color: $white;
  border: 1px solid $lime;
  border-radius: 2;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  background-clip: padding-box;
  padding: 1em;
  font-size: 1.2em;
  // Remove focus outline from opened modal
  outline: 0;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0,0,0,.7);
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
	margin: 1em;
}

.modal-header h1 {
  text-align: left !important;
  font-size: 2.25em;
  margin: 0em !important;
}

// Title text within header
.modal-title {
  margin: 0;
  line-height: 1em;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  padding: 1em;
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
