$black: #000000;
$olive: #3D441E;
$lime: #C5B200;
$white: #FFFFFF;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin center-horizontally {
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	font-size: 2em;
	font-weight: 400;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.Form-contactFieldsLabel {
	font-size: 0.7em;
}

.Form-contactFields {
	display: flex;
	margin: 0.5em 0em 1em;

	.field_with_errors {
		width: 100%;
	}

	.Input-text {
		margin-right: 2em;
		font-size: 0.6em;
		padding: 0.5em;
	}

	.Input-text:last-child {
		margin-right: 0em;
	}
}

.Form-agreementField {
	@include center-horizontally;

}

.Form-agreementLabel {
	font-size: 0.7em;
	margin-left: 0.4em;
}

.Form-actions {
	@include center-horizontally;
	margin: 1em 0em 3em;
}

.Button {
	@include border-radius(3px);

	font-size: 0.75em;
	text-transform: uppercase;
	font-weight: 700;
  border: 0px;
  padding: 0.5em 1em;
  cursor: pointer;
}

.Button-submitWish {
	background: $olive;
	color: $white;

	&:hover {
		background: transparentize($olive, 0.2);
		color: transparentize($white, 0.2);
	}
}

.Button-learnMore {
	background: $lime;
	color: $olive;
	margin-left: 1em;

	&:hover {
		background: transparentize($lime, 0.2);
		color: transparentize($olive, 0.2);
		border-bottom: 0px;
	}
}

.Input-checkbox {

}

.Input-text {
	border-width: 0px;
	border-bottom: 1px solid $olive;
	width: 100%;
}

.Input-text--large {
	width: calc(100% - 1em);
	font-size: 1em;
	padding: 0.5em;
	margin: 0em 0em 1em;
}

#Form-errorWrapper {
	font-size: 0.6em;
}